{
    "endOfLine": "auto",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "printWidth": 120,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
